<h1>米の会</h1>

<table class="table" >
  <tr>
    <th>日付</th>
    <th>昼/夜</th>
    <% @users.each do |user| %>
    <th><%= user.name %></th>
    <% end %>
    <th>計</th>
  </tr>
  <% (Date.today..(Date.today+7.day)).each do|day| %>
  <% time = 'lunch' %>
  <tr style="background-color: #fffff5;">
    <td rowspan="2" style="background-color: #fffff7;vertical-align: middle;"><%= day %></td>
    <td style="vertical-align: middle">昼</td>
    <% @users.each do |user| %>
      <% if @lunch_schedule[day].include?(user.id) %>
        <td><%= render 'users/eat', user: user, day: day, time: time %></td>
      <% else%>
        <td><%= render 'users/dont', user: user, day: day, time: time %></td>
      <% end %>
    <% end %>
    <td id="<%= "#{day}-#{time}" %>-count"><%= @lunch_schedule[day].count %></td>
  </tr>
  <% time = 'evening' %>
  <tr style="background-color: #f1f7ff;">
    <td style="vertical-align: middle">夜</td>
    <% @users.each do |user| %>
      <% if @evening_schedule[day].include?(user.id) %>
        <td><%= render 'users/eat', user: user, day: day, time: time %></td>
      <% else%>
        <td><%= render 'users/dont', user: user, day: day, time: time %></td>
      <% end %>
    <% end %>
    <td id="<%= "#{day}-#{time}" %>-count"><%= @evening_schedule[day].count %></td>
  </tr>
  <% end %>
</table> 
