<h1>米の会</h1>

<div class="center">
  <p>お米代について</p>
    お米を食べる方: 500円を徴収します。<br/>
    その月にお米を殆ど食べない、または食べない予定の方:500円は払わなくて結構です。<br/>
    その場合、一回50円でお米を食べることができます。
</div>
<ul>
  <li><a href="#" onClick="alert('Coming soon...')">会計まわり</a></li>
  <li><a href="http://ja.wikipedia.org/wiki/%E7%B1%B3" target="_blank">お米の歴史</a></li>
  <li><a href="#" onClick="alert('Coming soon...')">お米掲示板</a></li>
</ul>
<table class="table" >
  <tr>
    <th>日付</th>
    <th>昼/夜</th>
    <% @users.each do |user| %>
    <th><%= user.name %></th>
    <% end %>
    <th>計</th>
  </tr>
  <% (Date.today..(Date.today+7.day)).each do|day| %>
  <% time = 'lunch' %>
  <tr style="background-color: #fffff5;">
    <td rowspan="2" style="background-color: #fffff7;vertical-align: middle;"><%= day %></td>
    <td style="vertical-align: middle">昼</td>
    <% @users.each do |user| %>
      <% if @lunch_schedule[day].include?(user.id) %>
        <td><%= render 'users/eat', user: user, day: day, time: time %></td>
      <% else%>
        <td><%= render 'users/dont', user: user, day: day, time: time %></td>
      <% end %>
    <% end %>
    <td id="<%= "#{day}-#{time}" %>-count"><%= @lunch_schedule[day].count %></td>
  </tr>
  <% time = 'evening' %>
  <tr style="background-color: #f1f7ff;">
    <td style="vertical-align: middle">夜</td>
    <% @users.each do |user| %>
      <% if @evening_schedule[day].include?(user.id) %>
        <td><%= render 'users/eat', user: user, day: day, time: time %></td>
      <% else%>
        <td><%= render 'users/dont', user: user, day: day, time: time %></td>
      <% end %>
    <% end %>
    <td id="<%= "#{day}-#{time}" %>-count"><%= @evening_schedule[day].count %></td>
  </tr>
  <% end %>
</table> 
